$card-bg: "transparent";
@import "bootstrap";

$color1: #FF6A00;
$color2: #E83500;
$color3: #BFB7B2;



html {
    height: 100%;
}

body {
    height: 100%;
    color: #FFFFFF;
}

.fillHeight {
    height: 100%;
}

.sidebar {
    background-color: $color1;
}

.main {
    background-color: $color2;
}

.selectable {
    cursor: pointer;
    &:hover {
    }
}

.hide { display: none; }

.searchResult {
    max-height: 230px;
    border: none;
    &-image {
        width: 100%;
        max-width: 100%;
        max-height: 120px;
        object-fit: cover;
    }
}
